<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2016-Today: Odoo Community Association (OCA)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp><data>

    <menuitem id="menu_github"
        name="Github"/>

    <menuitem id="menu_github_source_code"
        parent="menu_github"
        sequence="10"
        name="Source Code"/>

    <menuitem id="menu_github_oca_module"
        name="OCA Modules"
        parent="menu_github_source_code"
        sequence="1"
        action="action_github_oca_module"/>

    <menuitem id="menu_github_oca_module_version"
        name="OCA Module Versions"
        parent="menu_github_source_code"
        sequence="2"
        action="action_github_oca_module_version"/>


    <menuitem id="menu_github_copyright"
        parent="menu_github"
        sequence="20"
        name="Copyright"/>

    <menuitem id="menu_github_oca_author"
        name="Authors"
        parent="menu_github_copyright"
        sequence="3"
        action="action_github_oca_author"/>

    <menuitem id="menu_github_oca_license"
        name="Licenses"
        parent="menu_github_copyright"
        sequence="4"
        action="action_github_oca_license"/>


    <menuitem id="menu_github_dependency"
        parent="menu_github"
        sequence="30"
        name="External Dependencies"/>

    <menuitem id="menu_github_oca_python_lib"
        name="Python Libs"
        parent="menu_github_dependency"
        sequence="1"
        action="action_github_oca_python_lib"/>

    <menuitem id="menu_github_oca_bin_lib"
        name="Bin Libs"
        parent="menu_github_dependency"
        sequence="2"
        action="action_github_oca_bin_lib"/>


    <menuitem id="menu_github_activity"
        parent="menu_github"
        sequence="50"
        name="Github Community"/>

    <menuitem id="menu_github_user"
        name="Github Users"
        parent="menu_github_activity"
        sequence="1"
        action="action_github_user"/>

    <menuitem id="menu_github_team"
        name="Github Teams"
        parent="menu_github_activity"
        sequence="2"
        action="action_github_team"/>

    <menuitem id="menu_github_repository"
        name="Github Repositories"
        parent="menu_github_activity"
        sequence="3"
        action="action_github_repository"/>

    <menuitem id="menu_github_repository_branch"
        name="Github Repository Branches"
        parent="menu_github_activity"
        sequence="4"
        action="action_github_repository_branch"/>

    <menuitem id="menu_github_setting"
        parent="menu_github"
        sequence="100"
        name="Github Settings"/>

    <menuitem id="menu_github_organization"
        name="Github Organizations"
        parent="menu_github_setting"
        sequence="1"
        action="action_github_organization"/>

</data></openerp>
